RewriteEngine On 

RewriteRule ^User/?$ User.php [NC,L]
RewriteRule ^User/([0-9]+)/?$ User.php?id=$1 [NC,L]

RewriteRule ^Kamar/?$ Kamar.php [NC,L]
RewriteRule ^Kamar/([0-9]+)/?$ Kamar.php?id=$1 [NC,L]

RewriteRule ^Pemesanan/?$ Pemesanan.php [NC,L]

RewriteRule ^Pengaduan/?$ Pengaduan.php [NC,L]

RewriteRule ^Login/?$ Login.php [NC,L]
RewriteRule ^Login/([0-9]+)/?$ Login.php?username=$1 [NC,L]

RewriteRule ^Register/?$ Register.php [NC,L]

RewriteRule ^Update/?$ Update.php [NC,L]
RewriteRule ^Update/([0-9]+)/?$ Update.php?id=$1 [NC,L]

RewriteRule ^Pembayaran/?$ Pembayaran.php [NC,L]
RewriteRule ^Pembayaran/([0-9]+)/?$ Pembayaran.php?id=$1 [NC,L]

RewriteRule ^DetailPembayaran/?$ DetailPembayaran.php [NC,L]
RewriteRule ^DetailPembayaran/([0-9]+)/?$ DetailPembayaran.php?id=$1 [NC,L]