RewriteEngine On # Turn on the rewriting engine
RewriteRule ^User/?$ User.php [NC,L]
RewriteRule ^User/([0-9]+)/?$ User.php?id=$1 [NC,L]
RewriteRule ^Kamar/?$ Kamar.php [NC,L]
RewriteRule ^Kamar/([0-9]+)/?$ Kamar.php?id=$1 [NC,L]