@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=PT+Serif:wght@400;700&family=Roboto&display=swap');

:root {
    --bs-blue: #3b7ddd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #28a745;
    --bs-teal: #20c997;
    --bs-cyan: #17a2b8;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #3b7ddd;
    --bs-secondary: #6f42c1;
    --bs-tertiary: #669ae5;
    --bs-success: #28a745;
    --bs-info: #20c997;
    --bs-warning: #fd7e14;
    --bs-danger: #dc3545;
    --bs-light: #e9ecef;
    --bs-dark: #153d77;
    --bs-primary-rgb: 59, 125, 221;
    --bs-secondary-rgb: 111, 66, 193;
    --bs-tertiary-rgb: 102, 154, 229;
    --bs-success-rgb: 40, 167, 69;
    --bs-info-rgb: 32, 201, 151;
    --bs-warning-rgb: 253, 126, 20;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 233, 236, 239;
    --bs-dark-rgb: 21, 61, 119;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 62, 70, 118;
    --bs-body-bg-rgb: 244, 247, 252;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    margin: 0;
    text-align: var(--bs-body-text-align);
}

.sidebar-brand {
    background: #153d77;
    color: #fff;
    display: block;
    font-size: 1.175rem;
    font-weight: 500;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}

.wrapper .sidebar {
    background: transparent;
    position: fixed;
    border-right: 0;
    box-shadow: 0 0 2rem 0 rgb(0 0 0 / 5%);
    max-width: 250px;
    min-width: 250px;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .5s ease;

}

.sidebar-user {
    background: #fff;
    color: #153d77;
    padding: 1.5rem 1rem 1rem;
    text-align: center;
}

.sidebar-user img {
    height: 82px;
    width: 82px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.img-fluid,
.img-thumbnail {
    height: auto;
    max-width: 100%;
}

img,
svg {
    vertical-align: middle;
}

.sidebar-content,
.sidebar-nav {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.wrapper .sidebar .sidebar-content {
    height: 100%;
    min-height: 100%;
    transition: all .5s;
}

.fw-bold {
    font-weight: 500 !important;
}

.small,
small {
    font-size: 80%;
}

.sidebar-nav {
    flex: 1;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.sidebar-content,
.sidebar-nav {
    background: #fff;
    display: flex;
    flex-direction: column;
}

dl,
ol,
ul {
    margin-bottom: 1rem;
    margin-top: 0;
}

ol,
ul {
    padding-left: 2rem;
}

*,
:after,
:before {
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.sidebar-header {
    background: transparent;
    color: #adb5bd;
    font-size: 14px;
    font-weight: 500;
    padding: 0.375rem 1.5rem;
    text-transform: none;
    padding: 0px 10px;
}

.sidebar-nav li a {
    display: block;
    padding: 15px 30px;
    color: #6c757d;
    font-size: 16px;
    position: relative;
}

.sidebar-nav li a .icon {
    color: #153d77;
    width: 18px;
    display: inline-block;
    padding: 10px;
}

.sidebar-nav img {
    margin-right: 10px;
}

.fa-solid,
.fas {
    font-family: Font Awesome\ 6 Free;
    font-weight: 900;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.fa,
.fa-brands,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.align-middle {
    vertical-align: middle !important;
}

.sidebar li a:hover,
.sidebar li a.active {
    color: #212529;
    cursor: pointer;
    text-decoration: none;
    background: #ced4da;
    border-right: 5px solid white;
    border-left: 5px solid white;
}

.sidebar li a:hover::before,
.sidebar li a.active::before {
    display: block;
}

.wrapper .main {
    width: calc(100% -- 250px);
    margin-left: 250px;
    transition: all .5s;
}

.wrapper .main .navbar {
    background-color: #153d77;
    height: 70px;
    display: flex;
    align-items: center;
}

.wrapper .main .navbar .hamburger a {
    font-size: 24px;
    color: white;
}

body.active .wrapper .sidebar {
    left: -250px;
}

body.active .wrapper .main {
    margin-left: 0;
}